.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  height: fit-content;
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dev-image {
  width: 224px;
  height: 224px;
}

.greet {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-top: 8px;
  margin-bottom: 0;
}

.iam {
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 12px;
}

.name {
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 32px;
}

.tagText {
  margin-left: 12px;
  margin-right: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 0;
  margin: 0;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 6px;
  color: black;
}

.plink :hover {
  color: #3461f5;
}

.tagImg {
  width: 32px;
  height: 32px;
  margin-left: 4px;
  margin-right: 8px;
}

.bottom-row,
.row {
  margin: auto;
  width: fit-content;
}

.plink {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.bottom-row {
  align-items: end;
  justify-content: end;
}
